.main {
    background-color: #F5F5F5;
    width: 90vw;
    max-width: 600px;
    max-height: 85vh;
    margin: 5% auto;
    padding: 2rem 3rem 3rem;
    border-radius: 10px;
}

.header {
    font-family: 'Karla';
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1.8rem;
    color: #2B283A;
    text-align: center;
    padding: 1rem;
}

.description {
    font-family: 'Inter';    
    color: #4A4E74;
    text-align: center;
    font-size: 1.2rem;
    padding: 0.5rem;
}

